[submodule "cdds-util/src/cdds-util"]
	path = src/cdds-util
	url = https://github.com/atolab/cdds-util.git
	shallow = true
[submodule "cdds-util/src/cyclonedds"]
	path = src/cyclonedds
	url = https://github.com/atolab/cdds-util.git
	shallow = true
